<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class= "container">
  <% @movies.each_slice(3) do |array_of_three_movies| %>
    <div class="row mt-3">
      <% array_of_three_movies.each do |movie|%>
        <div class="col">
          <%= render "movies/card", movie: movie %>
        </div>
      <% end %>
  <% end %>
</div>


<br>

<%= link_to 'New Movie', new_movie_path %>
